@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif; arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.card h2 {
  color: #2E3AB5;
}

.card p {
  padding-bottom: 1em;
}

.portfolio {
  position: relative;
}


.logo2 {
  height: 50px;
}

.name {
  text-decoration: none;
  font-style: normal;
}

.port:hover {
  display: block;
}

.featured {
  width: calc(100% + 3em);
  left: -1.5em;
  position: relative;
}

.silver {
  background-color: #eee;
}

.footer {
  background-color: #000;
  color: #fff;
  width: 100%;
}

.footer a {
  color: #bc1c2c;
}

.footer a:hover {
  color: #eee;
}

.footer i {
  color: white;
}

.footer i:hover {
  color: #F07158;
}

.page {
  width: 100%;
  text-align: center;
}

.page a {
  text-decoration: none;
  color: #bc1c2c;
}

.banner-content {
  position: absolute;
  width: 100%;
  top: -20%;
}

.banner {
  position: relative;
}

.banner span {
  display: block;
  padding-bottom: 1rem;
  color: #fff;
  max-width: 10em;
  padding-top: 0;
}

.embed-4by1, .embed--4by1 {
  padding-top: 40%;
}

.navigation a {
  color: #bc1c2c;
}


.nav {
  position: relative;
  z-index: 2;
  vertical-align: center;
}

.nav a {
  display: inline-block;
  padding: .5rem .75rem;
  text-decoration: none;
  color: #fff;
  border-bottom: 3px solid transparent;
}

.nav a:hover,
.nav a:focus {
   border-bottom-color: #F07158;
}


.rimage {
  display: block;
  width: 100%;
  height: auto;
}

.contact {
    background: #2E3AB5;
    background: -webkit-linear-gradient(#2E3AB5, #221982);
    background: -o-linear-gradient(#2E3AB5, #221982);
    background: -moz-linear-gradient(#2E3AB5, #221982);
    background: linear-gradient(#2E3AB5, #221982);
  color: #FFF;
}

header {
    background: #2E3AB5;
    background: -webkit-linear-gradient(#221982, #2E3AB5);
    background: -o-linear-gradient(#221982, #2E3AB5);
    background: -moz-linear-gradient(#221982, #2E3AB5);
    background: linear-gradient(#221982, #2E3AB5);
}

.oran {
  color: #F07158;
}

.contact a {
  color: #F07158;
  text-decoration: none;
}

.contact a:hover {
  color: #fff;
}
.contact h2 {
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .25s ease;
  background-color: rgba(0,0,0,.85);
}

.container:hover .overlay {
  opacity: 1;
}
h2:after {
    background: none repeat scroll 0 0 #F07158;
    bottom: 0px;
    content: "";
    display: block;
    height: 8px;
    position: relative;
    width: 38px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media only screen and (min-width: 25em) {

  .banner span {
    padding-top: 2em;
  }

}

@media only screen and (min-width: 38em) {

  .nav li {
    display: inline;
  }


}

@media only screen and (min-width: 45em) {

  .banner-content {
    padding: 5%;
  }

  .embed-4by1, .embed--4by1 {
    padding-top: 25%;
  }

  .banner span {
    max-width: 25em;
  }

}

