<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title itemprop="name">Kevin McIntyre</title>
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <header class="banner" role="banner">
    <div class="wrapper gutter-1-2">
      <div class="masthead grid">
        <div class="unit xs-1 s-1 m-1-1 l-1-1 text-center">
          <a href="{{site.baseurl}}/" id="logo"><img class="logo" alt="kevin mcintyre logo" src="{{site.baseurl}}/images/logo.png"></i></a>
        </div>
        <div class="unit xs-1 s-1 m-1 l-1">
          <nav id="nav" role="navigation">
            <div class="nav">
              <div class="wrapper gutter-1-2">
                <ol class="mega list-group push-0 text-center">
                  <li>
                    <a itemprop="url" href="{{site.baseurl}}/">Home</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/#about">About</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/#portfolio">Portfolio</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/#contact">Contact</a>
                  </li>
                </ol>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>

		{{content}}

  <div class="island-2 silver contact">
    <div class="wrapper gutter-1-2 island-2">
      <div class="card">
        <h2 class="push-1-4" id="contact">Contact</h2>
        <p class="push-0 pad-b-1 pad-t-1">I am always up for a challenge. If you wish to contact me for freelance work or have any questions, you can reach me at <a href="mailto:contact@kevinbmcintyre.com?subject=Hello">contact@kevinbmcintyre.com</a></p>
      </div>
    </div>
  </div>

  <section id="footer">
    <footer role="contentinfo">
      <div class="footer text-center">
        <div class="icon-nav">
          <a class="inline-block pad-t-2" href="https://www.behance.net/kevinmcintacb2"><i class="icon i-32"><svg>
          <use xlink:href="{{site.baseurl}}/images/socialicons.svg#behance"></use></svg></i></a> <a class="inline-block" href="https://www.instagram.com/kevinbmcintyre/"><i class="icon i-32"><svg>
          <use xlink:href="{{site.baseurl}}/images/socialicons.svg#instagram"></use></svg></i></a> <a class="inline-block" href="https://www.linkedin.com/in/kevin-mcintyre-6b65b1107/"><i class="icon i-32"><svg>
          <use xlink:href="{{site.baseurl}}/images/socialicons.svg#linkedin"></use></svg></i></a>
        </div>
        <div class="wrapper gutter-1-2 island">
          <p class="push-1-2 micro">Copyright © 2017 Kevin McIntyre</p>
        </div>
      </div>
    </footer>
  </section>
  <script src="https://code.jquery.com/jquery-3.0.0-beta1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.4.0/jquery.localScroll.min.js"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>
</body>
</html>
